.board{
    position: relative;
    padding: 30px 0 0 30px;
    background: #363B6A;
    border-radius: 30px;
    width: 45vw;
    height: 90vh;
    display: flex;
    justify-content:space;
    align-items: center;
}
